
<style>
    body {
        background-image: url('../static/images/skylar-sahakian-FO9apFs3Eys-unsplash.jpg');
        /* background-image: url('../static/images/simon-noh-0rmby-3OTeI-unsplash.jpg'); */
        /* background-image: url('../static/images/matt-botsford-OKLqGsCT8qs-unsplash.jpg'); */
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
    
        -webkit-background-size: cover;
        -moz-background-size: cover; 
        -o-background-size: cover;
        background-size: cover;
        /* opacity: 0.7; */
    }

</style>

<div>

{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('shop.static', filename='css/shop.css') }}">
{% endblock %}


{% block content %}
    <h3>Music Library</h3>
    <hr>

    <div class="card-deck">
        {% for p in products %}
            <div class="col-md-3 product">
                <div class="card">
                    <div class="card-header" style="height: 35px;">
                        <p style="font-size: 12px;"><strong>Price:</strong> ${{p.price }}</p>
                        <!-- <h6 style="font-size: 12px;"> -->
                            <!-- Artist: {{ p.song_artist.title() }} -->
                            <!-- Price: ${{ p.price }} -->
                            <!-- <span class="float-right">${{ p.price }}</span> -->
                        <!-- </h6> -->
                    </div>
                    <div class="card-body" style="height: 160px;">
                        <img class="card-img-top" src="{{ p.song_picture }}" align="right" alt="{{ p.song_name.title() }}" style="height: 90px; width: 90px;">

                        <!-- <p class="card-text" style="font-size: 11px;"><strong>Song:</strong> {{ p.song_name.title() }}</p>  -->
                        <!-- <p class="card-text" style="font-size: 11px;"><strong>Price:</strong> {{ p.price }}</p>  -->
                        <p style="font-size: 12px;"><strong>Song:</strong> {{p.song_name.title() }}</p>
                        <p style="font-size: 12px;"><strong>Artist:</strong> {{ p.song_artist.title() }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('shop.add_product', id=p.id) }}" class="btn btn-success btn-block" style="font-size: 12px;">Add to Cart <span><i class="fa fa-shopping-cart"></i></span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
</div>
